// Define typography variables
$font-primary: 'Inter', sans-serif;

$font-light: 200;
$font-semi-bold: 600;

$font-size-small: 14px;
$font-size-medium: 20px;

$line-height-small: 18px;
$line-height-medium: 26px;

// Colors
$color-light: #757575;
$color-dark: #242424;

// Spacing
$spacing-medium: 64px;
$spacing-large: 120px;